body {
    background-color: #ffffff;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#b2dcfe 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #b2dcfe 1.6px, #ffffff 1.6px) -0.8px 0;
    background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

form {
    background-color: #ffffff;
    width: 60%;
    text-align: center;
    margin: auto;
}

input {
    width: 80%;
}

textarea{
    width: 80%;
}

#back{
    margin-left: 94%;
}